@model IEnumerable<EPAM.WebGallery.Site.Models.PhotoViewModel>
@{
	ViewBag.Title = "Photo";
	int i = 0;
	
	AjaxOptions ajaxOptions = new AjaxOptions()
		{
			UpdateTargetId = "update",
			LoadingElementId = "loading"
		};
}
<ul class="thumbnails">
	@foreach(var photo in Model)
	{
		<li class="span2">
			<div>
				<a class="thumbnail" onclick="ShowCarousel();">
					<img src="@photo.Image"/>
				</a>
				<div>
					<a href="@Url.Action("EditPhoto", "Gallery", new { id = photo.Id })" class="icon-edit"></a>
					@Ajax.ActionLink(" ", "DeletePhoto", "Gallery", new { Id = photo.Id, name = ViewBag.Album }, ajaxOptions, new { @class = "icon-trash" })
				</div>
			</div>
		</li>
	}
</ul>
<div id="loading" style="display: none">
	<img src="~/Content/images/loading.gif"/>
</div>
<div class="span8 carous" id="carousel" style="display: none">
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			@foreach (var photo in Model)
			{
				<li data-target="#myCarousel" data-slide-to="@(i++)" ></li>
			}
		</ol>
		<div class="carousel-inner">
			@foreach (var photo in Model)
			{
				<div class="item">
					<input type="button" class="m-btn black"  value="X" onclick="CloseCarousel();"/>
					
					<img src="@photo.Image" class="thumbnail"/>
					<div class="carousel-caption">
						<h4>@photo.Name</h4>
						<p>"@photo.Description"</p>
					</div>
				</div>
			}
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">></a>
	</div>
</div>
<div id="overlay"></div>
<script type="text/javascript">
	$('.carousel').carousel();
	function ShowCarousel() {
		$('#overlay').show();
		$('#carousel').show();
		$('#carousel').carousel('next');
	}
	function CloseCarousel() {
		$('#overlay').hide();
		$('#carousel').hide();
	}
</script>
